*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #cbcbcb;
    color: #222;
}

header {
    padding: 10px;
    text-align: center;
    margin-block: 10px 40px;
    color: #2514bc;
}

.main {
    height: 100vh;
    width: fit-content;
    margin: 0 auto;

}
.main .grid-container{
    background-color: #fff;
    display: flex;
    width: 703px;  /* Add an extra 3 unit due rounding error*/
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   align-items: center;
    
}
.grid {
    border: .1px solid black;
}