*{
    box-sizing: border-box;
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#main {
    width: 560px;
    height: 560px;
    background-color: rgb(177, 174, 174);
    margin: 0 auto;
    
}
.container {
    width: 560px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    background-color: #fff;
}

.box {
    
    border: 0.2px solid rgb(224, 224, 224);
}





button {
    background-color: #04AA6D;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}
#create-grid-btn:hover {
    background-color: brown;
}
.create-box {
    background-color: rgb(22, 77, 77);
    padding: 5px;
    color: white;